@font-face {
    font-family: deathStar;
    src: url("./assets/deathStar.otf");
}

h1 {
    font-family: deathStar;
    text-align: center; 
    font-size: 60px;
    letter-spacing: 4px;
}

body {
    background-image: url("./assets/starBackground.jpg");
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
 }

 p {
    font-size: 30px; 
    color: white;
 }

 select {
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
  }

  .marginLeft {
	  margin-left: 50px;
  }

  #openingText {
    font-size: 60px; 
    text-align: center;  
    color: yellow;
  }

  #text {
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	font-weight: bold;
	text-align: center;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
}

#textContent {
	position: absolute;
	top: 100%;
	
}

.scroll {
	animation: scroll 100s linear 3s infinite;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}